<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jb.boot.biz.sales.mapper.DeliveryMainMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, destination, customer, delivery_date, driver, status, commit_status, updated_by, updated_time, created_by,
        created_time
    </sql>

    <select id="pageList" resultType="cn.jb.boot.biz.sales.vo.response.DeliveryMainPageResp">
        select * from t_delivery_main
        <where>
            <if test="p.destination!=null and p.destination !=''">
                destination like concat('%',#{p.destination},'%')
            </if>
            <if test="p.customer!=null and p.customer !=''">
                and customer like concat('%',#{p.customer},'%')
            </if>
            <if test="p.status!=null and p.status !=''">
                and status =#{p.status}
            </if>
            <if test="p.startDate!=null ">
                and delivery_date &gt;= #{p.startDate}
            </if>
            <if test="p.endDate!=null ">
                and delivery_date &lt;= #{p.endDate}
            </if>
            <if test="p.driver!=null and p.driver !=''">
                and driver like concat('%',#{p.driver},'%')
            </if>

        </where>
        order by delivery_date desc,driver


    </select>

</mapper>
