<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jb.boot.biz.item.mapper.MesToErpDataMapper">




<!--===============================物料==================================-->

    <!-- 查询未同步物料 -->
    <select id="materialMessage" resultType="java.util.Map">
        SELECT * FROM JSP.JSPMATERIAL WHERE BYTSTATUS = 0
    </select>

    <!-- 批量更新同步状态 -->
    <update id="materUpdate" parameterType="java.util.List">
        UPDATE  JSP.JSPMATERIAL
        SET BYTSTATUS = 1
        WHERE STRITEMCODE IN
        <foreach item="itemNo" collection="itemNoList" open="(" separator="," close=")">
            #{itemNo}
        </foreach>
    </update>


    <!--===============================BOM==================================-->
    <select id="bomMessage" resultType="java.util.Map">
        SELECT * FROM JSP.JSPBOM WHERE BYTSTATUS = 0
    </select>
    <update id="bomUpdate">
        UPDATE JSP.JSPBOM SET BYTSTATUS = 1 WHERE LNGBOMID IN
        <foreach collection="idList" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <!--===============================工序==================================-->

    <!-- 拉取ERP工序路由（只同步未同步的） -->
    <select id="bomRouter" resultType="java.util.Map">
        SELECT * FROM JSP.JSPBOMROUTER WHERE BYTSTATUS = 0
    </select>

    <!-- 回写同步状态 -->
<!--    <update id="routerUpdate">-->
<!--        UPDATE JSP.JSPBOMROUTER SET BYTSTATUS = 1 WHERE LNGBOMID IN-->
<!--        <foreach item="id" collection="routerIdList" open="(" separator="," close=")">-->
<!--            #{id}-->
<!--        </foreach>-->
<!--    </update>-->
    <update id="routerUpdate">
        UPDATE JSP.JSPBOMROUTER
        SET BYTSTATUS = 1
        WHERE LNGBOMID IN
        <foreach collection="routerIdList" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>



</mapper>
