<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jb.boot.biz.device.mapper.DeviceTypeInfoMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, remark, updated_by, updated_time, created_by, created_time
    </sql>

    <select id="pageInfo" resultType="cn.jb.boot.biz.device.vo.response.DeviceTypeInfoPageResponse"
            parameterType="cn.jb.boot.biz.device.vo.request.DeviceTypeInfoPageRequest">
        select
        <include refid="Base_Column_List"/>
        from t_device_type_info
        <where>
            <if test="p.name != null and p.name != ''">
                and name like concat('%',#{p.name},'%')
            </if>
            <if test="p.beginTime != null and p.beginTime != ''">
                and created_time &gt;= STR_TO_DATE(concat(#{p.beginTime,jdbcType=VARCHAR}, ' 00:00:00'),'%Y-%m-%d
                %H:%i:%s')
            </if>
            <if test="p.endTime != null and p.endTime != ''">
                and created_time &lt;= STR_TO_DATE(concat(#{p.endTime,jdbcType=VARCHAR}, ' 23:59:59'),'%Y-%m-%d
                %H:%i:%s')
            </if>
        </where>
        order by created_time desc
    </select>
</mapper>
