<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jb.boot.biz.work.mapper.WorkOrderRecordMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, work_order_id, item_count, updated_by, updated_time, created_by, created_time
    </sql>

    <select id="pageInfo" resultType="cn.jb.boot.biz.work.vo.response.WorkOrderRecordPageResponse"
            parameterType="cn.jb.boot.biz.work.vo.request.WorkOrderRecordPageRequest">
        select two.work_order_no,twor.item_count,twor.created_time,two.dept_id,two.device_id,two.shift_type,two.item_no,
        two.real_count,two.deff_count,
        twor.created_by,two.procedure_name
        from t_work_order_record twor inner join t_work_order two
        on two.id=twor.work_order_id
        <where>
            <if test="p.deviceId != null and p.deviceId != ''">
                and two.device_id=#{p.deviceId}
            </if>
            <if test="p.deptId != null and p.deptId != ''">
                and two.dept_id=#{p.deptId}
            </if>
            <if test="p.itemNo != null and p.itemNo != ''">
                and two.item_no=#{p.itemNo}
            </if>
            <if test="p.procedureNames != null and p.procedureNames.size()>0 ">
                and two.procedure_name
                in
                <foreach collection="p.procedureNames" item="name" index="index" open="(" close=")" separator=",">
                    #{name}
                </foreach>
            </if>

            <if test="p.beginTime != null and p.beginTime != ''">
                and twor.created_time &gt;= STR_TO_DATE(concat(#{p.beginTime,jdbcType=VARCHAR}, ' 00:00:00'),'%Y-%m-%d
                %H:%i:%s')
            </if>
            <if test="p.endTime != null and p.endTime != ''">
                and twor.created_time &lt;= STR_TO_DATE(concat(#{p.endTime,jdbcType=VARCHAR}, ' 23:59:59'),'%Y-%m-%d
                %H:%i:%s')
            </if>
        </where>
        order by twor.created_time desc
    </select>
</mapper>
